@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat-Regular;
}

.wrapper {
    background: #fff;
}